div.gallery > img{
    max-width: 300px;
    max-height: 300px;
    height: auto;
    width: auto;
    display: inherit;
}
div.gallery{
    display: inline-block;
    margin: 1%;
    border: 1px black solid;
}
a.button {
    margin-top: 10%;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}
.videoInsert {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    background-size: cover;
}